
module.exports = {

  hostname: 'localhost', // hostname to listen on
  port: 8000 // port to listen on

  // babeld_cmd: 'babeld -i', // command that outputs babeld routing table
  babeld_cmd: 'cat babeld.sample' // use static sample table per default

};